
/* Container */
.container{
    display: grid;
    grid-template-columns: repeat(4,minmax(300px,1fr));
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    height: 100dvh;
    
}
.container *:not(.sidebar *,.sidebar) {
    font-family: 'Roboto',sans-serif;
    border: 1px solid black;
}
.sidebar, .sidebar * {
    font-family: 'Roboto',sans-serif;
}
/* Container END */

/* Search bar, profile picture and buttons */
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / -1;
    grid-row: 1;
    gap: 20px;
}
.upper-header {
    display: flex;
    gap: 10px;
}
.upper-header > * {
    flex: 1;
}
.lower-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left-lower-header, .right-lower-header {
    display: flex;
}
.left-lower-header > * , .right-lower-header > * , .text-container > *{
    flex: 1;
}
/* Search bar, profile picture and buttons END */

/* Dashboard buttons */
.sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #228dd4;
    box-shadow: 0px 5px 6px black;
}
.sidebar img {
    filter: brightness(0) invert(1);
}
.upper-sidebar, .lower-sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px
}

.dashboard, .upper-sidebar > div, .lower-sidebar > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2.4rem;
    gap: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}
.dashboard {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: calc(2.4rem - 15px);
    margin-bottom: 6rem;
}
/* Dashboard buttons END */

/* articles news and trendings */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / -1;
    grid-row: 2;
    gap: 20px;
}
.article{
    grid-column: 1;
    grid-row: 1 / -1;
}
/* articles news and trendings */