
/* Container */
.container{
    display: grid;
    grid-template-columns: minmax(250px,0.6fr) repeat(3,minmax(300px,1fr));
    grid-template-rows: 1fr 4.5fr;
    height: 100dvh;
    
}

button {
  background: none;   
  border: none;         
  padding: 0;         
  margin: 0;      
  cursor: pointer; 
}

.container * {
    font-family: 'Roboto',sans-serif;
}
/* Container END */

/* Search bar, profile picture and buttons */
.header {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / -1;
    grid-row: 1;
    gap: 20px;
}


.upper-header {
    display: flex;
    padding-left: 1.5rem;
    gap: 1rem;
}
.upper-header > div {
    display: flex;
}
.upper-header > * {
    align-items: center;
}
.search-bar{
    flex: 2 1 300px;
    gap: 1.2rem;
}
.profile {
    flex: 1 1 300px;
    gap: 3rem;
    font-size: 1.4rem;
    margin-right: 6rem;
    justify-content: flex-end;
}
.profile img, .profile-picture img {  
    border-radius: 50%;
}
#site-search{
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 16px;
    background-color: #E9EDF0;
}


.lower-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.profile-picture{
    margin-left: 3rem;
}
.text-container {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.greet {
    font-size: 1.3rem;
    margin-top: 0.8rem;
}
.username {
    font-size: 2.5rem;
}
.greet, .username{
    line-height: 1.2;
}
.left-lower-header, .right-lower-header {
    display: flex;
    gap: 2rem;
}
.right-lower-header{
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
}
.right-lower-header > button {
    flex: 1;
    color: white;
    background-color: #228dd4;
    border-radius: 32px;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
}

/* Search bar, profile picture and buttons END */

/* Dashboard buttons */
.sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #228dd4;
}
.sidebar img {
    filter: brightness(0) invert(1);
}
.upper-sidebar, .lower-sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px
}

.dashboard, .upper-sidebar > div, .lower-sidebar > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2.4rem;
    gap: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}
.dashboard {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: calc(2.4rem - 15px);
    margin-bottom: 6rem;
}
/* Dashboard buttons END */

/* articles news and trendings */
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / -1;
    grid-row: 2;
    gap: 20px;
    background-color: #E9EDF0;
    padding: 2rem;
    padding-bottom: 7rem;
    padding-top: 7rem;
}
.article{
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 3rem;
}
article{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 24px;
    padding: 1.3rem;
    border-left: 1rem solid orange;
}
article p {
    color: gray;
}
.article-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding-right: 1rem;
    margin-top: auto;
    margin-bottom: 10%;
}
/* articles news and trendings */

